* {
    margin: 0 auto;
    box-sizing: border-box;
}


.renderFilters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 70px;
}

body {
    font-family: "DM Sans", sans-serif;
    height: 100%;
    margin: 0px;
}




/*** MAIN ***/

.main {
    width: 100%;
    margin: auto;
}


/*** header section ***/


.header {

    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    display: flex;
    width: 78%;
    height: 477px;
    background: url(/assets/Images/homePageImage.jpeg) center center /1404px 854px no-repeat;
}

h1.title {
    text-align: center;
    left: 23px;
    bottom: 41px;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 890px;
    font-size: 38px;
    color: #FFD15B;

}

.header__logo {
    width: 270px;
}


/*** search section ***/


.search__input-group {
    position: relative;
    bottom: 239px;
    left: 23px;
    overflow: hidden;
    width: 830px;
}

.search__input {
    background: var(--light-grey);
    border: none;
    border-radius: 11px;
    background-color: #FFFFFF;
    padding: 1.5rem;
    width: 100%;
    margin-top: 1.5rem;

    text-overflow: ellipsis;
    white-space: nowrap;
}

.search__input::placeholder {
    color: #000;
    opacity: 0.25;
    font-size: var(--fs-18);
}

.search__button {
    background: transparent;
    border: none;
    position: absolute;
    right: 8px;
    top: 14px;
    height: 100%;
}


#form {
    background-color: lightgrey;
    margin-left: 11%;
    margin-right: 11%;

}


/*** tags section ***/


.tag__ingredients--wrapper {
    left: 0;
    width: 170px;
    margin-left: 40px;
    margin-right: 20px;
}

.tag__appliances--wrapper {
    left: 0;
    width: 170px;
    margin-left: 73px;
    margin-right: 0px;
}

.tag__ustensils--wrapper {
    left: 0;
    width: 170px;
    margin-left: 33px;
    margin-right: 0px;
}

#tags__selected {
    display: flex;
    left: 0;
    top: 0;
    flex-direction: column;
    margin-bottom: 1rem;
}

#tags__selected li {
    width: 150px;
    font-size: 14px;
    font-weight: normal;
    list-style: none;
}

#tags__selected .tag__ingredients--wrapper .tag__ingredient {
    background-color: var(--success);
    height: 53px;
    width: 203px;
    color: #1B1B1B;
    margin-top: 10px;

    margin-left: 10px;


    background: #FFD15B;
    padding: 10px;
    border-radius: 10px;

    display: flex;
    align-items: center;
}

#tags__selected .tag__appliances--wrapper .tag__appliance {
    background-color: var(--success);
    height: 53px;
    width: 203px;
    color: #1B1B1B;
    background: #FFD15B;
    padding: 10px;
    border-radius: 10px;
    ;
    display: flex;
    align-items: center;
}

#tags__selected .tag__ustensils--wrapper .tag__ustensil {
    background-color: var(--success);
    height: 53px;
    width: 203px;
    color: #1B1B1B;
    margin-left: 56px;
    background: #FFD15B;
    padding: 10px;
    border-radius: 10px;
    ;
    display: flex;
    align-items: center;
}


/*** Filters section ***/


#filters {
    display: flex;
    flex-wrap: wrap;
    margin-right: 460px;

}



.filter__appliances {
    border-radius: 11px;
    background-color: #FFFFFF;
    width: 195px;
    height: 56px;

    left: 23px;
    display: flex;
    margin-left: 2px;
    margin-right: 23px;
    position: relative;
    align-items: center;
}

.filter__ustensils {


    border-radius: 11px;
    background-color: #FFFFFF;
    width: 195px;
    height: 56px;
    left: 23px;
    display: flex;
    margin-left: 2px;
    margin-right: 23px;
    position: relative;
    align-items: center;
}

.filter__ingredients {
    border-radius: 11px;
    background-color: #FFFFFF;
    width: 195px;
    height: 56px;

    left: 23px;
    display: flex;
    margin-left: 2px;
    margin-right: 23px;
    position: relative;
    align-items: center;
}







.smallMealLogo {
    rotate: 360deg;
    width: 255px;
    position: relative;
    right: 38%;
    bottom: 23%;
}

header h2 {

    font-size: 18px;
    font-weight: bold;

    position: relative;

    color: #1B1B1B;
}

.allMeals {
    font-family: 'Anton';
    margin-right: 140px;
    font-size: 21px;
    font-weight: bolder;
}


/* Filter__ingredient */

.filter__ingredients--template {
    margin-left: 0;
    width: 170px;
    float: left;
    overflow: hidden;
}

.filter__ingredients--template input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.filter__ingredients--close {
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: #1B1B1B;

    width: 170px;


    border-radius: var(--br-5);

    font-weight: bold;
}

.filter__ingredients--close input {
    position: absolute;
    top: 0;
    outline: none;

    width: 100px;
    height: 70px;

    font-size: 1rem;

    color: #1B1B1B;
    background-color: var(--primary);

    border: none;
    border-top-left-radius: var(--br-5);
    border-top-right-radius: var(--br-5);
    margin-left: 1rem;
}

.filter__ingredients--header {
    display: flex;

    width: 170px;
    height: 70px;
    align-items: center;
}

.filter__ingredients--name {
    font-size: 1rem;
    font-weight: normal;
    color: black;

}

.filter__ingredients--view {



    overflow: hidden;
    top: -162px;
    color: black;
    z-index: 100;

    display: flex;
    margin-bottom: 10px;
    align-items: center;
    padding-left: 1px;
    font-size: 16px;
}

.filter__ingredients--view header h2 {
    font-weight: normal;
    font-size: var(--fs-18);

}

.filter__ingredients--view header .fa-angle-up {
    display: none;
}

.filter__ingredients--view input {
    position: absolute;
    z-index: 2;
    right: 14px;
    top: 62px;
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;

    border: 1px solid #C6C6C6;
    border-radius: 2px 2px 2px 2px;
    border-bottom: 1px solid #ddd;
    color: black;
}

.filter__ingredients--angleUp {
    color: black;
    position: absolute;
    left: 151px;
    top: 29px;

    z-index: 100;
    cursor: pointer;
}

.filter__ingredients--list {
    background-color: #FFFFFF;
    overflow: scroll;
    z-index: 2;
    position: absolute;
    width: 172px;
    top: 94px;
    height: auto;
    max-height: 275px;
    display: flex;
    flex-direction: column;
    padding: 0;
    right: 15px;

    border-bottom-left-radius: var(--br-5);
    border-bottom-right-radius: var(--br-5);
}

.filter__ingredients--list li {

    padding: 0.5rem;
    cursor: pointer;
    list-style: none;
    color: black;
    font-size: 15px;
    font-weight: normal;
}

.filter__ingredients--list li::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    transition: 300ms;
    background-color: #FFF;

}

.filter__ingredients--list li:hover::after {
    width: 10%;
}

/* filter Appliances */

.filter__appliances--template {
    margin-left: 0;
    width: 194px;
    float: left;
    overflow: hidden;
}

.filter__appliances--template input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.filter__appliances--close {
    align-items: center;
    background-color: var(--success);
    color: #1B1B1B;

    width: 170px;
    height: 70px;

    border-radius: var(--br-5);

    font-weight: bold;
}

.filter__appliances--header {
    display: flex;

    width: 170px;
    height: 70px;
    align-items: center;
}

.filter__appliances--name {
    font-size: 1rem;
    font-weight: normal;
    color: black;
}

.filter__appliances--view {
    flex-direction: column;
    align-items: center;

    color: #FFF;
    background-color: var(--success);

    font-weight: bold;
    height: 70px;
    border-top-left-radius: var(--br-5);
    border-top-right-radius: var(--br-5);

    overflow: hidden;
}

.filter__appliances--view header h2 {
    font-weight: normal;
    font-size: var(--fs-18);
    margin-right: 0;
}

.filter__appliances--view header .fa-angle-up {
    display: none;
}

.filter__appliances--view input {

    position: absolute;
    z-index: 4;
    right: 14px;
    top: 53px;
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;

    border: 1px solid #C6C6C6;
    border-radius: 2px 2px 2px 2px;
    border-bottom: 1px solid #ddd;
    color: black;

}

.filter__appliances--angleUp {
    color: #1B1B1B;
    position: absolute;
    left: 825px;
    top: 34px;

    z-index: 100;
    cursor: pointer;
}

.filter__appliances--list {
    background-color: #FFFFFF;
    overflow: scroll;
    z-index: 2;
    position: absolute;
    width: 172px;
    top: 94px;
    height: auto;
    max-height: 275px;
    display: flex;
    flex-direction: column;
    padding: 0;
    right: 15px;

    border-bottom-left-radius: var(--br-5);
    border-bottom-right-radius: var(--br-5);


}

.filter__appliances--list li {

    padding: 0.5rem;
    cursor: pointer;
    list-style: none;
    color: #1B1B1B;
    font-size: var(--fs-18);
    font-weight: normal;
}

.filter__appliances--list li::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    transition: 300ms;
    background-color: #FFF;

}

.filter__appliances--list li:hover::after {
    width: 10%;
}


/*filter ustensils */


.filter__ustensils--template {
    margin-left: 0;
    width: 170px;
    float: left;
    overflow: hidden;
}

.filter__ustensils--template input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.filter__ustensils--close {
    align-items: center;
    background-color: var(--danger);
    color: #1B1B1B;

    width: 170px;
    height: 70px;

    border-radius: var(--br-5);

    font-weight: bold;
}

.filter__ustensils--header {
    display: flex;

    width: 170px;
    height: 70px;
    align-items: center;
}

.filter__ustensils--name {
    font-size: 1rem;
    font-weight: normal;
    color: black;
}

.filter__ustensils--view {
    position: absolute;
    z-index: 2;
    right: 14px;
    top: 47px;
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;

    border: 1px solid #C6C6C6;
    border-radius: 2px 2px 2px 2px;
    border-bottom: 1px solid #ddd;
    color: black;
}

.filter__ustensils--view header h2 {
    font-weight: normal;
    font-size: var(--fs-18);
    bottom: 57px;
    margin-right: 0;
}

.filter__ustensils--view header .fa-angle-up {
    display: none;
}

.filter__ustensils--view input {
    position: absolute;
    z-index: 2;
    right: 14px;
    top: 47px;
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;

    border: 1px solid #C6C6C6;
    border-radius: 2px 2px 2px 2px;
    border-bottom: 1px solid #ddd;
    color: black;
}

.filter__ustensils--angleUp {
    color: #1B1B1B;
    position: absolute;
    left: 1025px;
    top: 34px;

    z-index: 100;
    cursor: pointer;
}

.filter__ustensils--list {
    background-color: #FFFFFF;
    overflow: scroll;
    z-index: 2;
    position: absolute;
    width: 172px;
    top: 94px;
    height: auto;
    max-height: 275px;
    display: flex;
    flex-direction: column;
    padding: 0;
    right: 15px;

    border-bottom-left-radius: var(--br-5);
    border-bottom-right-radius: var(--br-5);
}

.filter__ustensils--list li {
    width: 30%;
    padding: 0.5rem;
    cursor: pointer;
    list-style: none;
    color: #1B1B1B;
    font-size: var(--fs-18);
    font-weight: normal;
}

.filter__ustensils--list li::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    transition: 300ms;
    background-color: #FFF;

}

.filter__ustensils--list li:hover::after {
    width: 10%;
}


/* Recipes section - ARTICLES */


#recipes__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 43px;
    column-gap: 25px;
}

#recipes__cards article {
    border: solid transparent;
    width: 334px;
    position: relative;
    border-radius: 21px;
    background-color: #FFFFFF;
}

.card_description_itemIngredient {
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    font-size: 14px;
    align-items: baseline;
    width: 50%;

}


.card_description_ingredient {
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    font-size: 14px;
    align-items: baseline;
    width: 50%;
}

.card_description_allIngredient {
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    font-size: 14px;
    align-items: baseline;
    width: 50%;
}

.card_description_img {
    margin-left: 0px;
    rotate: 0deg;
    width: 100%;
    height: 253px;
    object-fit: cover;
    border-radius: 21px 21px 0px 0px;
}

.nom {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    color: #1B1B1B;
    margin-left: 23px;
    margin-top: 26px;
}



#recipes__cards .card_name {
    font-size: 18px;
    font-weight: bold;
    margin: 23px;
    color: black;
}




#recipes__cards header .duration {
    position: relative;
    bottom: 308px;
    font-size: 16px;
    left: 122px;
    width: 65px;
    border-radius: 14px;
    height: 27px;
    background-color: #FFD15B;
    padding-top: 3px;
    padding-left: 6px;
}

.card_description_details {
    margin: 20px;
}

strong {
    margin: 0px;
}

.card_description_itemIngredient {
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    font-size: 14px;
    align-items: baseline;
    width: 50%;

}



#recipes__cards .ingredients__detailled--bloc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 23px;
}

.card_description_word {
    margin-left: 23px;
    font-size: 12px;
    color: #7A7A7A;
}

#recipes__cards .description {
    padding: 23px;
}


/* Error Message */

.is-hidden {
    display: none;
}

.no-result-message {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--danger);



}



@media screen and (min-width:1057px) and (max-width:1281px) {
    .allMeals {
        top: 561px;
        right: 199px;
        font-size: 30px;
    }

    #filters {
        display: flex;
        justify-content: inherit;
    }

    .smallMealLogo {
        rotate: 360deg;
        width: 255px;
        position: relative;
        right: 35%;
        bottom: 23%;
    }
}

@media screen and (min-width:912px) and (max-width:1057px) {
    .allMeals {
        bottom: 22px;
        right: 43px;
        font-size: 30px;
    }

    .filter__ustensils {
        width: 159px;
    }

    .filter__appliances {
        width: 159px;
    }

    .filter__ingredients {
        width: 159px;
    }

    #filters {
        gap: 0px;
        margin-left: 49px;
        justify-content: inherit;
    }

    .search__input {
        width: 728px;
        display: flex;
        justify-content: center;

    }

    .header {
        width: 117%;
        margin-top: 0px;
    }

    .search__input-group {
        left: 40px;
        left: 0px;
    }

    .search__button {
        right: 55px;

    }

    #form {
        width: 117%;
        margin-left: 0%;
        margin-right: 0%;
    }

    h1.title {
        font-size: 31px;
        width: 853px;
    }

    .smallMealLogo {
        right: 32%;
        width: 217px;
    }

    #tags__selected .tag__ustensils--wrapper .tag__ustensil {
        bottom: 58px;
        left: 510px;
    }

    #tags__selected .tag__appliances--wrapper .tag__appliance {
        left: 265px;
        bottom: 58px;
    }


    #tags__selected .tag__ingredients--wrapper .tag__ingredient {
        bottom: 58px;
        left: 163px;
    }
}


@media screen and (min-width:820px) and (max-width:911px) {
    .allMeals {
        bottom: 607px;
        right: 23px;
    }


    .filter__ustensils {
        width: 159px;
    }

    .filter__appliances {
        width: 159px;
    }

    .filter__ingredients {
        width: 159px;
    }

    #filters {
        gap: 0px;
        margin-left: 49px;
        justify-content: inherit;
    }

    .search__input {
        width: 728px;
        display: flex;
        justify-content: center;

    }

    .header {
        width: 117%;
        margin-top: 0px;
    }

    .search__input-group {
        left: 40px;
        left: 0px;
    }

    .search__button {
        right: 55px;

    }

    #form {
        width: 117%;
        margin-left: 0%;
        margin-right: 0%;
    }

    h1.title {
        font-size: 31px;
        width: 853px;
    }

    .smallMealLogo {
        right: 32%;
        width: 217px;
    }

    #tags__selected .tag__ustensils--wrapper .tag__ustensil {
        bottom: 58px;
        left: 510px;
    }

    #tags__selected .tag__appliances--wrapper .tag__appliance {
        left: 265px;
        bottom: 58px;
    }


    #tags__selected .tag__ingredients--wrapper .tag__ingredient {
        bottom: 58px;
        left: 163px;
    }
}






@media screen and (min-width:702px) and (max-width:819px) {
    .allMeals {
        position: inherit;
    }


    .allMeals {
        font-size: 21px;
        right: -13px;
        bottom: 453px;
    }

    .filter__ustensils {
        width: 159px;
    }

    .filter__appliances {
        width: 159px;
    }

    .filter__ingredients {
        width: 159px;
    }

    #filters {
        gap: 0px;
        margin-left: 49px;
        justify-content: inherit;
    }

    .tag__ingredients--wrapper {
        margin-top: -6px;
    }

    .search__input {
        width: 728px;
        display: flex;
        justify-content: center;

    }

    .header {
        width: 117%;
        margin-top: 0px;
    }

    .search__input-group {
        left: 40px;
        left: 0px;
    }

    .search__button {
        right: 55px;

    }

    #form {
        width: 117%;
        margin-left: 0%;
        margin-right: 0%;
    }

    h1.title {
        font-size: 31px;
        width: 853px;
    }

    .smallMealLogo {
        right: 32%;
        width: 217px;
    }

    #tags__selected .tag__ustensils--wrapper .tag__ustensil {
        bottom: 58px;
        left: 510px;
    }

    #tags__selected .tag__appliances--wrapper .tag__appliance {
        left: 265px;
        bottom: 58px;
    }


    #tags__selected .tag__ingredients--wrapper .tag__ingredient {
        bottom: 58px;
        left: 163px;
    }




}

@media screen and (min-width:514px) and (max-width:701px) {
    .allMeals {
        position: inherit;
    }

    .renderFilters {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 434px;
    }

    .allMeals {
        font-family: 'Anton';
        font-size: 21px;
        font-weight: bolder;
        position: inherit;
    }

    #tags__selected {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .tag__ingredients--wrapper {
        left: 0;
        width: 170px;
        margin-left: inherit;
        margin-right: inherit;
    }

    .tag__appliances--wrapper {
        left: 0;
        width: 170px;
        margin-left: inherit;
        margin-right: inherit;
        ;
    }

    .tag__ustensils--wrapper {
        left: 0;
        width: 170px;
        margin-left: inherit;
        margin-right: inherit;
        ;
    }

    #tags__selected .tag__ingredients--wrapper .tag__ingredient {
        background-color: var(--success);

        margin-top: 0px;
        margin-left: 0px;
        background: #FFD15B;
        padding: 10px;
        border-radius: 10px;

        display: flex;
        align-items: center;
    }

    #tags__selected .tag__ustensils--wrapper .tag__ustensil {
        background-color: var(--success);

        margin-top: inherit;
        margin-left: inherit;
        background: #FFD15B;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
    }


    #filters {
        display: flex;
        flex-direction: column;
        margin-left: inherit;
    }




    .header {
        margin-top: 0px;
        width: 100%;
    }

    .smallMealLogo {
        right: -5%;
        width: 225px;
    }

    h1.title {
        font-size: 15px;
        width: 89%;
        left: 11px;
    }

    .search__input-group {
        width: 89%;
    }

    .search__input {
        width: 91%;
    }

    #form {
        margin-left: 0%;
        margin-right: 0%;
    }




    .search__button {
        right: 35px;
    }
}

@media screen and (min-width:401px) and (max-width:513px) {
    #filters {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;

    }

    .renderFilters {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header {
        margin-top: 0px;
        width: 100%;
    }

    .smallMealLogo {
        right: -5%;
        width: 225px;
    }

    h1.title {
        font-size: 15px;
        width: 89%;
        left: 11px;
    }

    .search__input-group {
        width: 89%;
    }

    .search__input {
        width: 91%;
    }

    #form {
        margin-left: 0%;
        margin-right: 0%;
    }




    .search__button {
        right: 35px;
    }

    .allMeals {
        position: inherit;
    }

}





@media screen and (min-width:380px) and (max-width:400px) {

    .renderFilters {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header {
        margin-top: 0px;
        width: 100%;
    }

    .smallMealLogo {
        right: -5%;
        width: 225px;
    }

    h1.title {
        font-size: 15px;
        width: 89%;
        left: 11px;
    }

    .search__input-group {
        width: 89%;
    }

    .search__input {
        width: 91%;
    }

    #form {
        margin-left: 0%;
        margin-right: 0%;
    }

    #filters {
        margin-bottom: 56px;
        display: flex;
        justify-content: center;
    }


    .search__button {
        right: 35px;
    }

    .allMeals {
        position: inherit;
    }

}



@media screen and (max-width:375px) {
    #recipes_cards {
        width: 79%;
    }

    .renderFilters {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search__input-group {
        width: 60%;
        left: 10px;
    }


    #recipes__cards article {
        width: 292px;
    }

    #filters {
        margin-bottom: 56px;
        display: flex;
        justify-content: center;
    }


    #recipes__cards header .duration {
        bottom: 280px;
        left: 101px;
    }

    .header {
        width: 98%;
        margin-top: 0px;
    }

    .main {
        width: 226;
    }

    #form {
        width: 99%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .search__input {
        width: 100%;
    }

    .search__button {
        right: 0%;
    }

    .smallMealLogo {
        right: -3%;
        width: 144px;
    }

    h1.title {
        left: 0px;
        width: 234px;
        font-size: 14px;
    }

    .filter__ingredients {
        width: 161px;
    }

    .filter__appliances {
        width: 161px;
    }

    .filter__ustensils {
        width: 161px;
    }


    #tags__selected .tag__ustensils--wrapper .tag__ustensil {
        left: 558px;
        bottom: 141px;
    }

    #tags__selected .tag__appliances--wrapper .tag__appliance {
        left: 247px;
        bottom: 141px;
    }

    #tags__selected .tag__ingredients--wrapper .tag__ingredient {
        left: 46px;
        bottom: 141px;
    }

    .allMeals {
        position: inherit;
    }

}


@media screen and (max-width:375px) {


    .renderFilters {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .allMeals {
        position: inherit;
    }
}